{% extends 'layout.html' %}
{% load static %}

{% block content %}

{% comment %} 
<div style="border: 1px solid black; padding: 10px; margin-bottom: 20px;">
	<h4>DEBUG. Context Data:</h4>
	<ul>
		{% for key, value in debug_context.items %}
			<li><strong>{{ key }}</strong>: {{ value }}</li>
		{% endfor %}
	</ul>
</div>
{% endcomment %}

{% if messages %}
	{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
			{{ message }}
		</li>
	{% endfor %}
{% endif %}

<img src="{{ request.user.profile_image.url }}" alt="Profile Image" width="64" height="64">
<p>Email</p>
{%  if is_self %}
	<h5>{{ email }}</h5>
{% else %}
	{% if hide_email %}
		<h5>**********</h5>
	{% else %}
		<h5>{{ email }}</h5>
	{% endif %}
{% endif %}
<p>Username</p>
<h5>{{ username }}</h5>

<!-- If Auth user is viewing their own profile -->
{% if is_self %}
	<a href="{% url 'account:edit' user_id=id %}">Update</a></br>
	<a href="{% url 'password_change' %}">Change password</a></br>
{% endif %}

{% if request.user.is_authenticated %}

	<!-- THEM to YOU -->
	{% if request_sent == 2 %}
	<div>
		<span>Accept Friend Request</span>
		<form method="POST" action="{% url 'friends:accept_friend_request' %}">
			{% csrf_token %}
			<input type="hidden" name="friend_request_id" value="{{ pending_friend_request_id }}">
			<input type="submit" value="Accept">
		</form>
		<form method="POST" action="{% url 'friends:decline_friend_request' %}">
			{% csrf_token %}
			<input type="hidden" name="friend_request_id" value="{{ pending_friend_request_id }}">
			<input type="submit" value="Decline">
		</form>
	</div>
	{% endif %}

	<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
	{% if is_friend == False and is_self == False %}
		<!-- You sent them a request -->
		{% if request_sent == 1 %}
			<form method="POST" action="{% url 'friends:cancel_friend_request' %}">
				{% csrf_token %}
				<input type="hidden" name="friend_request_id" value="{{ pending_friend_request_id }}">
				<input type="submit" value="Cancel Friend Request">
			</form>
		{% endif %}

		<!-- No requests have been sent -->
		{% if request_sent == 0 %}
			<form method="POST" action="{% url 'friends:send_friend_request' %}">
				{% csrf_token %}
				<input type="hidden" name="receiver_id" value="{{ id }}">
				<input type="submit" value="Send Friend Request">
			</form>
		{% endif %}
	{% endif %}
		
	{% if is_friend %}
		<button> Friends </button>
		<form method="POST" action="{% url 'friends:remove_friend' %}">
			{% csrf_token %}
			<input type="hidden" name="friend_id" value="{{ id }}">
			<input type="submit" value="Unfriend">
		</form>
	{% endif %}
	
	<!-- Friend list link --><br>
	<a href="#">
		<span> contact_page </span></br>
		<span> Friends ({{ friends|length }}) </span></br>
	</a>

	{% if friend_request %}
	<!-- Friend requests -->
		<a href="#">
			<span> person_add </span></br>
			<span> Friend Requests ({{ friend_request|length }}) </span></br>
		</a>
	{% endif %}

	{% if is_friend %}
		<div onclick="createOrReturnPrivateChat('{{ id }}')">
			<span> message </span></br>
			<span> Message </span></br>
		</div>
	{% endif %}

{% endif %}
	
{% endblock content %}
