{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>
	<nav>
		<a href="/" title="HOME"> <span class="material-symbols-outlined">home</span></a>

		{% if request.user.is_authenticated %}
			<a href="{% url 'account:profile' user_id=request.user.id %}" title="PROFILE"> <img src="{{ request.user.profile_image.url }}" alt="LOGO" width="40" height="40"></a>
			{% comment %} <img src="{{ request.user.profile_image.url }}" alt="LOGO" width="40" height="40"> {% endcomment %}
			<a href="{% url 'logout' %}" title="LOGOUT"> <span class="material-symbols-outlined">logout</span>Logout</a>
			{% comment %} <a href="{% url 'account:profile' user_id=request.user.id %}" title="PROFILE"> <img src="{% static 'images/smile_32-32.png' %}"></a> {% endcomment %}
		{% else %}
			<a href="{% url 'login' %}" title="LOGIN"> <span class="material-symbols-outlined">login</span>Login</a>
			<a href="{% url 'register' %}" title="REGISTER"> <span class="material-symbols-outlined">person_add</span>Register</a>
		{% endif %}
	</nav>

	<div>
		{% block content %}

			{% if request.user.is_authenticated %}
				<p>{{ request.user.username }} is authenticated.</p>
				<p>profile image: {{ request.user.profile_image.url }}</p>
			{% else %}
				<p>not logged in</p>

			{% endif %}	

		{% endblock content %}
	</div>

	{% include 'footer.html' %}
</body>

</html>
