{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>
	<nav>
		<a href="/" title="HOME"> <span class="material-symbols-outlined">home</span></a>

		<a href="/profile" title="PROFILE"> <img src="{% static 'images/smile_32-32.png' %}"></a>

		{% if request.user.is_authenticated %}
			<p>{{ request.user.username }} is authenticated.</p>
			<p>Profile image: {{ request.user.profile_image.url }}</p>
			<img src="{{ request.user.profile_image.url }}" alt="LOGO" width="40" height="40">
		{% else %}
			<p>Not logged in</p>
		{% endif %}
	</nav>
	<div>
		{% block content %}
		{% endblock content %}
	</div>

	{% include 'footer.html' %}
</body>

</html>
