{% extends 'layout.html' %}
{% load static %}

{% block content %}

{% if friends %}
	{% for friend in friends %}
		<a href="{% url 'account:profile' user_id=friend.0.pk %}">
			<img src="{{ friend.0.profile_image.url }}" alt="profile_image">
		</a>
		
		<a href="{% url 'account:profile' user_id=friend.0.pk %}">
			<h4>{{ friend.0.username|truncatechars:50 }}</h4>
		</a>

		{% if friend.1 %}
			<a href="#">Send a Message</a>
		{% endif %}
			
		{% if friend.1 %}
			<p> FRIENDS </p>
			<span> check_circle_outline </span>
		{% else %}
			{% if friend.0 !=  request.user %}
				<p> Not Friends </p>
				<span>cancel</span>
			{% endif %}
		{% endif %}

		{% if friend.0 == request.user %}
				<p> This is you </p>
				<span> person_pin </span>
		{% endif %}

	{% endfor %}
	
{% else %} <!-- If no friends -->
	<p>No friends.</p>
{% endif %}
	
{% endblock content %}
